# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
LightKrylov/
Nek5000/

# output
*0.f0*
*.nek5000

# Build files, executables etc.
*0.f*
*.nek5000
examples/*/*.log
examples/*/.state
examples/*/.usr
examples/*/makefile
examples/*/makefile_usr.inc
examples/*/nek5000
examples/*/run*/*
examples/*/obj/*
examples/*/*/*.log
examples/*/*/.state
examples/*/*/.usr
examples/*/*/makefile
examples/*/*/makefile_usr.inc
examples/*/*/nek5000
examples/*/*/obj/*
examples/*/*/run*/*
examples/*/*/??_run*/*
