# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
LightKrylov/
Nek5000/

# output
*0.f0*
*.nek5000

# Build files, executables etc.
**/*.log
**/.state
**/.usr
**/makefile
**/makefile_usr.inc
**/*nek5000
**/run*/*
**/obj/*
**/*.log
**/.state
**/.usr
**/??_run*/*
examples/**/*.f
**/*.log.*
**/*.log1.*
**/logfile
**/SESSION.NAME
